extends layout

block content

  .parallax-mirror(style='visibility: hidden; z-index: -100; position: fixed; top: 0px; left: 0px; overflow: hidden; transform: translate3d(0px, 0px, 0px); height: 474px; width: 1280px;')
    img.parallax-slider(src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1451417379553-15d8e8f49cde.jpg', scale='0', style='transform: translate3d(0px, 0px, 0px); position: absolute; left: 0px; height: 909px; width: 1280px; max-width: none;')
  .parallax-mirror(style='visibility: hidden; z-index: -100; position: fixed; top: 0px; left: 0px; overflow: hidden; transform: translate3d(0px, 0px, 0px); height: 434px; width: 1280px;')
    img.parallax-slider(src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1452723312111-3a7d0db0e024.jpg', scale='0', style='transform: translate3d(0px, 0px, 0px); position: absolute; left: 0px; height: 909px; width: 1280px; max-width: none;')
  .parallax-mirror(style='visibility: visible; z-index: -100; position: fixed; top: 56px; left: 0px; overflow: hidden; transform: translate3d(0px, 0px, 0px); height: 646px; width: 1280px;')

    img.parallax-slider(src='http://www.planwallpaper.com/static/images/Wallpaper-HD-10.jpg', scale='0', style='transform: translate3d(0px, 0px, 0px); position: absolute; top: -303.8px; left: 0px; height: 854px; width: 1280px; max-width: none;')

  .site
    include navbar

    // #masthead
    #content.main-container
      section.content-area
        #main

          #shapely_home_parallax-2.widget.shapely_home_parallax
            section.cover.fullscreen.image-bg
              .parallax-window.fullscreen(data-parallax='scroll', data-image-src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1443527216320-7e744084f5a7-1.jpg')
                .align-transform
                  .row
                    .top-parallax-section
                      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
                        h1 Coding web apps with love
                        p.mb32 Doing nodejs since 2010.
                        a.btn.btn-lg.btn-white Login in
                        a.btn.btn-lg.btn-filled Register
                    // end of row
            .clearfix

          #shapely_home_parallax-3.widget.shapely_home_parallax
            section.bg-secondary
              .container
                .row.align-children
                  .col-md-7.col-sm-6.text-center.mb-xs-24
                    img.cast-shadow.img-responsive(alt='SEO Friendly', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/macbook-preview-flexible.png', scale='0')
                  .col-md-4.col-md-offset-1.col-sm-5.col-sm-offset-1
                    div
                      h3 SEO Friendly
                      p.mb32
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar luctus sem, eget porta orci. Maecenas molestie dui id diam feugiat, eu tincidunt mauris aliquam. Duis commodo vitae ligula et interdum. Maecenas faucibus mattis imperdiet. In rhoncus ac ligula id ultricies.
                      a.btn.btn-lg.btn-filled(href='https://prerender.io/') Read more
                  // end of row
            .clearfix

          #shapely_home_parallax-4.widget.shapely_home_parallax
            section.bg-secondary
              .container
                .row.align-children
                  .col-md-4.col-sm-5.mb-xs-24
                    div
                      h3 Portfolio Section
                      p.mb32
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar luctus sem, eget porta orci. Maecenas molestie dui id diam feugiat, eu tincidunt mauris aliquam. Duis commodo vitae ligula et interdum.
                      a.btn.btn-lg.btn-filled(href='#') See it in action
                  // end of row
                  .col-md-7.col-md-offset-1.col-sm-6.col-sm-offset-1.text-center
                    img.cast-shadow.img-responsive(alt='Portfolio Section', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/flexible-portfolio.png', scale='0')
            .clearfix
          #shapely_home_parallax-5.widget.shapely_home_parallax
            section.small-screen.image-bg.p0
              .parallax-window(data-parallax='scroll', data-image-src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1452723312111-3a7d0db0e024.jpg')
                div
                  .row
                    .top-parallax-section
                      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
                        h1 Small Parallax Section
                        p.mb32
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet rhoncus porta. Ut quis sem quis purus lobortis dictum. Aliquam nec dignissim nisl. Vivamus cursus feugiat sapien, eget tincidunt leo ornare quis.
                        a.btn.btn-lg.btn-filled(href='#') MORE INFO
                    // end of row
            .clearfix
          #shapely_home_parallax-6.widget.shapely_home_parallax
            section.bg-secondary.pb0
              .container
                .row
                  .col-sm-10.col-sm-offset-1.text-center
                    div
                      h3 Limitless Options
                      p.mb32
                        | Phasellus sed nisi ac dui interdum semper. Etiam consequat fermentum sollicitudin. Fusce vulputate porta faucibus. Vivamus nulla tellus, accumsan non efficitur id, pretium quis ante
                      a.btn.btn-lg.btn-filled(href='#') Download Now
                  // end of row
                  div
                    img.cast-shadow.img-responsive(alt='Limitless Options', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1440557653082-e8e186733eeb-1.jpg', scale='0')
            .clearfix
          #shapely_home_portfolio-2.widget.shapely_home_portfolio
            section.projects.bg-dark.pb0
              .container
                .col-sm-12.text-center
                  h3.mb32 Our Latest Projects
                  p.mb40 Here is our latest projects. You'll love them!
              .row.masonry-loader.fixed-center.fadeOut
                .col-sm-12.text-center
                  .spinner
              .row.masonry.masonryFlyIn.fadeIn(style='position: relative; height: 689px;')
                .col-md-3.col-sm-6.masonry-item.project.fadeIn.masonry-brick(style='position: absolute; left: 0px; top: 0px;')
                  .image-tile.inner-title.hover-reveal.text-center
                    a(href='https://colorlib.com/shapely/portfolio/project-15/', title='Project #15')
                      img.attachment-full.size-full.wp-post-image(width='1200', height='837', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1443890484047-5eaa67d1d630-1.jpg', alt='', srcset='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1443890484047-5eaa67d1d630-1.jpg 1200w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1443890484047-5eaa67d1d630-1-300x209.jpg 300w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1443890484047-5eaa67d1d630-1-768x536.jpg 768w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1443890484047-5eaa67d1d630-1-1024x714.jpg 1024w', sizes='(max-width: 1200px) 100vw, 1200px')
                      .title
                        h5.mb0 Project #15
                .col-md-3.col-sm-6.masonry-item.project.fadeIn.masonry-brick(style='position: absolute; left: 327px; top: 0px;')
                  .image-tile.inner-title.hover-reveal.text-center
                    a(href='https://colorlib.com/shapely/portfolio/project-14/', title='Project #14')
                      img.attachment-full.size-full.wp-post-image(width='1200', height='837', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1422568374078-27d3842ba676-1.jpg', alt='', srcset='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1422568374078-27d3842ba676-1.jpg 1200w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1422568374078-27d3842ba676-1-300x209.jpg 300w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1422568374078-27d3842ba676-1-768x536.jpg 768w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1422568374078-27d3842ba676-1-1024x714.jpg 1024w', sizes='(max-width: 1200px) 100vw, 1200px')
                      .title
                        h5.mb0 Project #14
                .col-md-3.col-sm-6.masonry-item.project.fadeIn.masonry-brick(style='position: absolute; left: 655px; top: 0px;')
                  .image-tile.inner-title.hover-reveal.text-center
                    a(href='https://colorlib.com/shapely/portfolio/project-13/', title='Project #13')
                      img.attachment-full.size-full.wp-post-image(width='1200', height='853', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1447834353189-91c48abf20e1-1-1.jpg', alt='', srcset='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1447834353189-91c48abf20e1-1-1.jpg 1200w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1447834353189-91c48abf20e1-1-1-300x213.jpg 300w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1447834353189-91c48abf20e1-1-1-768x546.jpg 768w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1447834353189-91c48abf20e1-1-1-1024x728.jpg 1024w', sizes='(max-width: 1200px) 100vw, 1200px')
                      .title
                        h5.mb0 Project #13
                .col-md-3.col-sm-6.masonry-item.project.fadeIn.masonry-brick(style='position: absolute; left: 982px; top: 0px;')
                  .image-tile.inner-title.hover-reveal.text-center
                    a(href='https://colorlib.com/shapely/portfolio/project-12-2/', title='Project #12')
                      img.attachment-full.size-full.wp-post-image(width='1200', height='853', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1447877085163-3cce903855cd-1.jpg', alt='', srcset='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1447877085163-3cce903855cd-1.jpg 1200w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1447877085163-3cce903855cd-1-300x213.jpg 300w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1447877085163-3cce903855cd-1-768x546.jpg 768w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1447877085163-3cce903855cd-1-1024x728.jpg 1024w', sizes='(max-width: 1200px) 100vw, 1200px')
                      .title
                        h5.mb0 Project #12
                .col-md-3.col-sm-6.masonry-item.project.fadeIn.masonry-brick(style='position: absolute; left: 0px; top: 228px;')
                  .image-tile.inner-title.hover-reveal.text-center
                    a(href='https://colorlib.com/shapely/portfolio/project-12/', title='Project #12')
                      img.attachment-full.size-full.wp-post-image(width='1200', height='853', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1447958374760-1ce70cf11ee3-1-1.jpg', alt='', srcset='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1447958374760-1ce70cf11ee3-1-1.jpg 1200w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1447958374760-1ce70cf11ee3-1-1-300x213.jpg 300w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1447958374760-1ce70cf11ee3-1-1-768x546.jpg 768w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1447958374760-1ce70cf11ee3-1-1-1024x728.jpg 1024w', sizes='(max-width: 1200px) 100vw, 1200px')
                      .title
                        h5.mb0 Project #12
                .col-md-3.col-sm-6.masonry-item.project.fadeIn.masonry-brick(style='position: absolute; left: 327px; top: 228px;')
                  .image-tile.inner-title.hover-reveal.text-center
                    a(href='https://colorlib.com/shapely/portfolio/project-11/', title='Project #11')
                      img.attachment-full.size-full.wp-post-image(width='1200', height='837', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1430329429612-babb42f88673-1-1.jpg', alt='', srcset='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1430329429612-babb42f88673-1-1.jpg 1200w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1430329429612-babb42f88673-1-1-300x209.jpg 300w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1430329429612-babb42f88673-1-1-768x536.jpg 768w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1430329429612-babb42f88673-1-1-1024x714.jpg 1024w', sizes='(max-width: 1200px) 100vw, 1200px')
                      .title
                        h5.mb0 Project #11
                .col-md-3.col-sm-6.masonry-item.project.fadeIn.masonry-brick(style='position: absolute; left: 655px; top: 233px;')
                  .image-tile.inner-title.hover-reveal.text-center
                    a(href='https://colorlib.com/shapely/portfolio/project-10/', title='Project #10')
                      img.attachment-full.size-full.wp-post-image(width='1200', height='853', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1449057528837-7ca097b3520c-1-1.jpg', alt='', srcset='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1449057528837-7ca097b3520c-1-1.jpg 1200w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1449057528837-7ca097b3520c-1-1-300x213.jpg 300w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1449057528837-7ca097b3520c-1-1-768x546.jpg 768w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1449057528837-7ca097b3520c-1-1-1024x728.jpg 1024w', sizes='(max-width: 1200px) 100vw, 1200px')
                      .title
                        h5.mb0 Project #10
                .col-md-3.col-sm-6.masonry-item.project.fadeIn.masonry-brick(style='position: absolute; left: 982px; top: 233px;')
                  .image-tile.inner-title.hover-reveal.text-center
                    a(href='https://colorlib.com/shapely/portfolio/project-9/', title='Project #9')
                      img.attachment-full.size-full.wp-post-image(width='1200', height='837', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1449168013943-3a15804bb41c-1-1.jpg', alt='', srcset='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1449168013943-3a15804bb41c-1-1.jpg 1200w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1449168013943-3a15804bb41c-1-1-300x209.jpg 300w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1449168013943-3a15804bb41c-1-1-768x536.jpg 768w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1449168013943-3a15804bb41c-1-1-1024x714.jpg 1024w', sizes='(max-width: 1200px) 100vw, 1200px')
                      .title
                        h5.mb0 Project #9
                .col-md-3.col-sm-6.masonry-item.project.fadeIn.masonry-brick(style='position: absolute; left: 327px; top: 456px;')
                  .image-tile.inner-title.hover-reveal.text-center
                    a(href='https://colorlib.com/shapely/portfolio/project-8/', title='Project #8')
                      img.attachment-full.size-full.wp-post-image(width='1200', height='837', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1448518184296-a22facb4446f-1-1.jpg', alt='', srcset='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1448518184296-a22facb4446f-1-1.jpg 1200w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1448518184296-a22facb4446f-1-1-300x209.jpg 300w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1448518184296-a22facb4446f-1-1-768x536.jpg 768w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1448518184296-a22facb4446f-1-1-1024x714.jpg 1024w', sizes='(max-width: 1200px) 100vw, 1200px')
                      .title
                        h5.mb0 Project #8
                .col-md-3.col-sm-6.masonry-item.project.fadeIn.masonry-brick(style='position: absolute; left: 0px; top: 461px;')
                  .image-tile.inner-title.hover-reveal.text-center
                    a(href='https://colorlib.com/shapely/portfolio/project-7/', title='Project #7')
                      img.attachment-full.size-full.wp-post-image(width='1200', height='837', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1451186859696-371d9477be93-1-1.jpg', alt='', srcset='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1451186859696-371d9477be93-1-1.jpg 1200w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1451186859696-371d9477be93-1-1-300x209.jpg 300w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1451186859696-371d9477be93-1-1-768x536.jpg 768w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/photo-1451186859696-371d9477be93-1-1-1024x714.jpg 1024w', sizes='(max-width: 1200px) 100vw, 1200px')
                      .title
                        h5.mb0 Project #7
          #shapely_home_testimonial-2.widget.shapely_home_testimonial
            section.parallax-section.testimonial-section
              .parallax-window(data-parallax='scroll', data-image-src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/12/photo-1451417379553-15d8e8f49cde.jpg', style='height: 474px;')
                .container.align-transform
                  .parallax-text.image-bg.testimonial
                    .row
                      .col-sm-12.text-center
                        h3 What Our Customers Say
                    // end of row
                    .row
                      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
                        .text-slider.slider-arrow-controls.text-center.relative
                          ul.slides(style='overflow: hidden;')
                            li.flex-active-slide(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;')
                              p
                              p
                                | Integer ut rutrum nulla, sit amet fringilla nisi. Nam nisl velit, vehicula at nibh sed, porttitor sollicitudin ante. Sed justo augue, vestibulum ut efficitur vitae, euismod et justo. Mauris sed mattis ante. Ut ligula lectus, consequat vitae neque ac, gravida hendrerit ante.
                              p
                              .testimonial-author-section
                                img.testimonial-img.wp-post-image(width='150', height='150', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/mike-muller-150x150.jpg', alt='', srcset='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/mike-muller-150x150.jpg 150w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/mike-muller-50x50.jpg 50w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/mike-muller.jpg 440w', sizes='(max-width: 150px) 100vw, 150px', draggable='false')
                                .testimonial-author
                                  strong John Doe
                            li(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
                              p
                              p
                                | Nunc sit amet lobortis nulla. Nunc ullamcorper, mi id luctus dictum, augue tortor dictum ipsum, nec congue arcu lorem in nisl. Duis neque lacus, viverra non mauris ac, pharetra rhoncus libero. Aliquam varius viverra ex, in venenatis magna ornare sit amet. Integer varius sit amet turpis eu ullamcorper.
                              p
                              .testimonial-author-section
                                img.testimonial-img.wp-post-image(width='150', height='150', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns-150x150.jpg', alt='', srcset='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns-150x150.jpg 150w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns-300x300.jpg 300w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns-768x768.jpg 768w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns-50x50.jpg 50w, https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/Aigars-Silkalns.jpg 800w', sizes='(max-width: 150px) 100vw, 150px', draggable='false')
                                .testimonial-author
                                  strong Aigars Silkalns
                          ul.flex-direction-nav
                            li.flex-nav-prev
                              a.flex-prev(href='#') Previous
                            li.flex-nav-next
                              a.flex-next(href='#') Next
                    // end of row
                // end of container
          #shapely_home_clients-2.widget.shapely_home_clients
            section
              .container
                .row
                  .col-sm-12.text-center
                    h3.mb64.mb-xs-40 Our Main Clients
                // end of row
                .row
                  .logo-carousel
                    .flex-viewport(style='overflow: hidden; position: relative;')
                      ul.slides(style='width: 1800%; transition-duration: 0s; transform: translate3d(-292.5px, 0px, 0px);')
                        li(style='width: 292.5px; margin-right: 0px; float: left; display: block;')
                          a(href='#')
                            img(alt='Logos', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/colorlib-logo.png', scale='0', draggable='false')
                        li(style='width: 292.5px; margin-right: 0px; float: left; display: block;')
                          a(href='#')
                            img(alt='Logos', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/js-logo.png', scale='0', draggable='false')
                        li(style='width: 292.5px; margin-right: 0px; float: left; display: block;')
                          a(href='#')
                            img(alt='Logos', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/html5-logo.png', scale='0', draggable='false')
                        li(style='width: 292.5px; margin-right: 0px; float: left; display: block;')
                          a(href='#')
                            img(alt='Logos', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/css-logo.png', scale='0', draggable='false')
                        li(style='width: 292.5px; margin-right: 0px; float: left; display: block;')
                          a(href='#')
                            img(alt='Logos', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/less-logo.png', scale='0', draggable='false')
                        li(style='width: 292.5px; margin-right: 0px; float: left; display: block;')
                          a(href='#')
                            img(alt='Logos', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/sass-logo.png', scale='0', draggable='false')
                        li(style='width: 292.5px; margin-right: 0px; float: left; display: block;')
                          a(href='#')
                            img(alt='Logos', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/bootstrap-logo.jpg', scale='0', draggable='false')
                        li(style='width: 292.5px; margin-right: 0px; float: left; display: block;')
                          a(href='#')
                            img(alt='Logos', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/adobe-logo.png', scale='0', draggable='false')
                        li(style='width: 292.5px; margin-right: 0px; float: left; display: block;')
                          a(href='#')
                            img(alt='Logos', src='https://cdn.colorlib.com/shapely/wp-content/uploads/sites/12/2016/03/facebook-logo.png', scale='0', draggable='false')
                  // end of logo slider
                // end of row
              // end of container
          #shapely_home_cfa-2.widget.shapely_home_CFA
            section.cfa-section.bg-secondary
              .container
                .row
                  .col-sm-12.text-center.p0
                    .overflow-hidden
                      .col-sm-9
                        h3.cfa-text Do you like this awesome WordPress theme?
                      .col-sm-3
                        a.mb0.btn.btn-lg.btn-filled.cfa-button(href='#', alt='Do you like this awesome WordPress theme?') Download Now
                // end of row
              // end of container
        // #main
      // section
      .footer-callout
      footer#colophon.site-footer.footer.bg-dark(role='contentinfo')
        .container.footer-inner
          .row
          .row
            .site-info.col-sm-6
              .copyright-text
              .footer-credits
                | Theme by
                a(href='https://colorlib.com/', target='_blank', title='Colorlib') Colorlib
                |  Powered by
                a(href='https://wordpress.org/', target='_blank', title='WordPress.org') WordPress
            // .site-info
            .col-sm-6.text-right
        a.btn.btn-sm.fade-half.back-to-top.inner-link(href='#top')
          i.fa.fa-angle-up
      // #colophon
  // #page
  script(type='text/rocketscript', data-rocketoptimized='true').
    jQuery(document).ready(function ($) {
    if ( $(window).width() >= 767 ) {
    $('.navbar-nav > li.menu-item > a').click(function () {
    window.location = $(this).attr('href');
    });
    }
    });
  div(style='display:none')
  script(type='text/rocketscript', data-rocketoptimized='true').
    /* <![CDATA[ */
    var wpcf7 = {"apiSettings":{"root":"https:\\/\/colorlib.com\/shapely\/wp-json\/","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
    /* ]]> */
  script(type='text/rocketscript', data-rocketsrc='https://cdn.colorlib.com/shapely/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.8', data-rocketoptimized='true').
  script(type='text/rocketscript', data-rocketsrc='https://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201725', data-rocketoptimized='true').
  script(type='text/rocketscript', data-rocketsrc='https://secure.gravatar.com/js/gprofiles.js?ver=2017Junaa', data-rocketoptimized='true').
  script(type='text/rocketscript', data-rocketoptimized='true').
    /* <![CDATA[ */
    var WPGroHo = {"my_hash":""};
    /* ]]> */
  script(type='text/rocketscript', data-rocketsrc='https://cdn.colorlib.com/shapely/wp-content/plugins/jetpack/modules/wpgroho.js?ver=4.8', data-rocketoptimized='true').
  script(type='text/rocketscript', data-rocketsrc='https://cdn.colorlib.com/shapely/wp-content/themes/shapely/js/navigation.js?ver=20120206', data-rocketoptimized='true').
  script(type='text/rocketscript', data-rocketsrc='https://cdn.colorlib.com/shapely/wp-content/themes/shapely/js/skip-link-focus-fix.js?ver=20160115', data-rocketoptimized='true').
  script(type='text/rocketscript', data-rocketsrc='https://cdn.colorlib.com/shapely/wp-includes/js/imagesloaded.min.js?ver=3.2.0', data-rocketoptimized='true').
  script(type='text/rocketscript', data-rocketsrc='https://cdn.colorlib.com/shapely/wp-includes/js/masonry.min.js?ver=3.3.2', data-rocketoptimized='true').
  script(type='text/rocketscript', data-rocketsrc='https://cdn.colorlib.com/shapely/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2b', data-rocketoptimized='true').
  script(type='text/rocketscript', data-rocketsrc='https://cdn.colorlib.com/shapely/wp-content/themes/shapely/js/flexslider.min.js?ver=20160222', data-rocketoptimized='true').
  script(type='text/rocketscript', data-rocketsrc='https://cdn.colorlib.com/shapely/wp-content/themes/shapely/js/parallax.min.js?ver=20160115', data-rocketoptimized='true').
  script(type='text/rocketscript', data-rocketsrc='https://cdn.colorlib.com/shapely/wp-content/themes/shapely/js/owl-carousel/owl.carousel.min.js?ver=20160115', data-rocketoptimized='true').
  script(type='text/rocketscript', data-rocketsrc='https://cdn.colorlib.com/shapely/wp-content/themes/shapely/js/shapely-scripts.js?ver=20160115', data-rocketoptimized='true').
  script(type='text/rocketscript', data-rocketsrc='https://cdn.colorlib.com/shapely/wp-includes/js/wp-embed.min.js?ver=4.8', data-rocketoptimized='true').
  script(type='text/rocketscript', data-rocketsrc='https://stats.wp.com/e-201725.js', async='', defer='', data-rocketoptimized='true').
  script(type='text/rocketscript', data-rocketoptimized='true').
    _stq = window._stq || [];
    _stq.push([ 'view', {v:'ext',j:'1:5.0',blog:'107424909',post:'1863',tz:'0',srv:'colorlib.com'} ]);
    _stq.push([ 'clickTrackerInit', '107424909', '1863' ]);
  img#wpstats(src='https://pixel.wp.com/g.gif?v=ext&j=1%3A5.0&blog=107424909&post=1863&tz=0&srv=colorlib.com&host=colorlib.com&ref=&rand=0.5365651711529706', alt=':)', width='6', height='5', scale='0')

