html
  head
    script(src="js/main.js")
    link(rel="stylesheet", href="https://cdn.colorlib.com/shapely/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.8")
    link(rel="stylesheet", href="https://cdn.colorlib.com/shapely/wp-content/themes/shapely/inc/css/bootstrap.min.css?ver=4.8")
    link(rel="stylesheet", href="https://cdn.colorlib.com/shapely/wp-content/themes/shapely/inc/css/font-awesome.min.css?ver=4.8")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Raleway%3A100%2C300%2C400%2C500%2C600%2C700%7COpen+Sans%3A400%2C500%2C600&#038;ver=4.8")
    link(rel="stylesheet", href="https://cdn.colorlib.com/shapely/wp-content/themes/shapely/inc/css/flexslider.css?ver=4.8")
    link(rel="stylesheet", href="https://cdn.colorlib.com/shapely/wp-content/themes/shapely/style.css?ver=4.8")
    link(rel="stylesheet", href="https://cdn.colorlib.com/shapely/wp-content/themes/shapely/js/owl-carousel/owl.carousel.min.css?ver=4.8")
    link(rel="stylesheet", href="https://cdn.colorlib.com/shapely/wp-content/themes/shapely/js/owl-carousel/owl.theme.default.css?ver=4.8")
  body
    h1 SearchTt
    block content
